@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

section {
  margin: 2em 0 4em;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
div,
span {
  font-family: "Rubik", serif;
}

img {
  float: left;
  height: 60px;
}

#lang_selector {
  float: right;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  background: #5e677b;
  color: white;
  padding: 5px;
  font-size: 20px;
  height: 60px;
  z-index: 2;
}

.footer {
  height: 20px;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  padding: 10px;
  text-align: center;
  background: #2d3036;
  color: white;
}
