@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

section {
  margin: 2em 0 4em;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
div,
span {
  font-family: "Rubik", serif;
}

.footer {
  height: 20px;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  padding: 10px;
  text-align: center;
  background: #2d3036;
  color: white;
}
