@import url("https://unpkg.com/intro.js/introjs.css");

/* needed for dark mode (because then, the font is white on white otherwise) */
.introjs-tooltip {
    color: black;
}
ul {
    margin-left: 20px;
}
.introjs-dontShowAgain {
    margin-top: 25px;
}
label[for="introjs-dontShowAgain"] {
    display: inline;
    color: grey;
}
/* https://github.com/usablica/intro.js/issues/1202#issuecomment-1647264044 */
.introjs-overlay {
    pointer-events: none;
}
.introjs-helperLayer {
    pointer-events: none;
}
.introjs-skipbutton {
    margin-left: auto;
    order: 2;
    border-radius: 8px;
    font-size: 30px;
}
.introjs-skipbutton:hover {
    opacity: 0.5;
}
